{% extends 'base.html.twig' %}

{% block title %}Base{% endblock %}

{% block body %}

<table class="table table-hover">
        <tr>
            <th scope="col">Prenom</th>
            <th scope="col">Nom</th>
            <th scope="col">position</th>
        </tr>
        {% for joueur in joueurs %}
        <tr scope="row">
            <td>{{ joueur.nom }}</td>
            <td>{{ joueur.prenom }}</td>
            <td>{{ joueur.position }}</td>
        </tr>
        {% endfor %}
        </table>
        <a href="{{ path('app_home') }}">Retour à la page home</a>
   

{% endblock %}
