{% extends 'base.html.twig' %}
{% block title %}Nouvelle équipe{% endblock %}

{% block body %}
    <div class="card border-primary mb-3">
        <h1>Nouvelle equipe</h1>
    
        {{ form(formNewTeam) }}
    </div>
{% endblock %}
