{% extends 'base.html.twig' %}
{% block title %}Nouvelle équipe{% endblock %}

{% block body %}
    <div class="form-group">
    <h1>Création d'une nouvelle équipe </h1>
    {{ form(form) }}
    </div>

{% endblock %}
